.add-menu {
  width: 100%; /* ปรับให้ฟอร์มกว้างขึ้น */
  max-width: 1000px; /* เพิ่มขนาดสูงสุด */
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.add-menu h2 {
  text-align: center;
  color: black;
}

.add-menu form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.flex-col {
  display: flex;
  flex-direction: column;
}

.add-menu p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.add-menu input,
.add-menu textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.add-menu input:focus,
.add-menu textarea:focus {
  border-color: blue;
  outline: none;
}

.add-img-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-img-upload label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.add-img-upload label:hover {
  border-color: blue;
}

.add-img-upload img {
  max-width: 100%;
  max-height: 140px;
  object-fit: contain;
}

.add-date input {
  width: 100%;
}

.add-btn {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.add-btn:hover {
  background: #444;
  transform: scale(1.05);
}